django
channels
channels-redis
django-cors-headers
python-dotenv
razorpay
requests
psycopg2-binary
deepgram-sdk
openai
pillow
daphne
django-environ
django-widget-tweaks
gunicorn
dj-database-url
whitenoise
django-csp
