django
channels
channels-redis
django-cors-headers
python-dotenv
razorpay
requests
psycopg2-binary
deepgram-sdk
openai
pillow
daphne
django-environ
django-widget-tweaks
gunicorn
dj-database-url
whitenoise
django-csp
langchain==0.0.352
pinecone-client==2.2.4
ctransformers==0.2.27
sentence-transformers==2.2.2
